matplotlib
notebook
numpy
openpyxl
pandas
scikit-learn
scipy
seaborn
dill
cxxfilt
cython
imutils
insightface
kornia
mxnet-cu101mkl
onnx
onnxruntime-gpu
opencv-python
pytest
pyyaml
keras
scikit-image
tensorflow
torch
torchvision
tqdm
wandb
xlrd